body{
    background-color: white;
}

h1{
    color: black;
}

.minha-imagem {
    display: block;   /* Transforma em bloco para aceitar margem */
    margin: 0 auto;   /* Centraliza horizontalmente */
}

.rodape{
    border: 2px solid black;
    width: 100%;
    height: 50px;
    color: azure;
}
